.emailTemplatesContainer {
  width: 100%;
  height: 100%;
  padding-top: 90vpx;

  .main {
    width: 100%;
    min-height: calc(100% - 90vpx);
    background-color: #fff;
    padding-bottom: 80vpx;

    .title {
      height: 90vpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 170vpx;
      margin-right: 40vpx;
      border-bottom: 1px solid #E0E0E0;
      box-sizing: border-box;

      .titleLeft {
        height: 100%;
        display: flex;
        align-items: center;

        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 20vpx;
        color: #1E1E69;
        line-height: 28vpx;
      }

      .operateBox {
        height: 100%;
        display: flex;
        align-items: center;

        .searchInputBox {
          margin-right: 20vpx;
          width: 240vpx;
          height: 50vpx;
          box-sizing: border-box;
          padding-right: 45vpx;
          position: relative;
          border-radius: 25vpx;
          border: 1px solid #E0E0E0;
          overflow: hidden;

          :global {
            .ant-input {
              width: 100%;
              height: 100%;
              border: 0;
    
              &::placeholder {
              }

              &:focus,
              &:hover,
              &:focus-visible {
                border: 0;
                box-shadow: none;
              }
            }
    
          }

          .searchIconBox {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40vpx;
            height: 40vpx;
            background: #000AFF;
            border-radius: 25vpx;
            border: 1px solid #0A14D2;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .searchIcon {
              width: 21vpx;
              height: 21vpx;
            }
          }
        }

        .newBtn {
          width: 160vpx;
          height: 50vpx;
          border-radius: 25vpx;
          background-color: #000AFF;

          display: flex;
          justify-content: center;
          align-items: center;

          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          font-size: 20vpx;
          color: #FFFFFF;
        }
      }

    }

    .content {
      margin-left: 170vpx;
      margin-right: 40vpx;

      .filterBox {
        width: 100%;
        margin-top: 20vpx;
      }

      .templateTitle {
        margin-top: 30vpx;
        margin-bottom: 15vpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        font-size: 32vpx;
        color: #333333;
        line-height: 45vpx;
      }

      .itemWrapper {
        display: flex;
        flex-wrap: wrap;

        .itemBox {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 48vpx;
          cursor: pointer;

          &:nth-of-type(5n) {
            margin-right: 0;
          }

          .cover {
            width: 280vpx;
            height: 400vpx;
            background: #D8D8D8;
            border-radius: 4vpx;
            border: 1px solid #979797;
            box-sizing: border-box;
          }

          .text {
            width: 280vpx;
            text-align: center;
            margin-top: 30vpx;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: PingFangSCs, PingFang SC;
            font-weight: 400;
            font-size: 18vpx;
            color: #333333;
            line-height: 25vpx;
          }

        }
      }
    }
  }
}