.ProfileContainer {

  .right {
    display: flex;
    height: 100%;
    align-items: center;

    .avatar {
      width: 30vpx;
      height: 30vpx;
      overflow: hidden;
      margin-right: 10vpx;
    }

    .pop{

        .nickname{

        }


      .popLink{

      }

    }

  }

}



